<header class="header">
  <div class="header-container">
    <div class="header-main">
      <div class="header-logo">
        <a class="header-logo-container" href="">
          <svg
            class="header-logo-icon"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M7 4v16M17 4v16M3 8h4m10 0h4M3 12h18M3 16h4m10 0h4"
            ></path>
          </svg>
          <span
            class="header-logo-title"
            >STREAMR</span
          >
        </a>
        <nav class="header-nav">
          <a
            class="header-nav-link"
            href="#"
            >Inicio</a
          >
          <a
            class="header-nav-link"
            href="#"
            >Series</a
          >
          <a
            class="header-nav-link"
            href="#"
            >Películas</a
          >
          <a
            class="header-nav-link"
            href="#"
            >Novedades</a
          >
          <a
            class="header-nav-link"
            href="#"
            >Mi lista</a
          >
        </nav>
      </div>
      <div class="header-actions">
        <span class="header-search">
          <svg
            class="header-search-icon"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
          </svg>
        </span>
        <div class="header-profile">
          <img
            alt="User profile"
            class="header-profile-image"
            src="https://lh3.googleusercontent.com/aida-public/AB6AXuCPOYBlAaNJQ-e0jO_6l6L-XiTpnl3Wv95dOWsaaRkPJ078p9nELvvI1IdMOU_Xxzvg2jD_2B6fTGOsCaigYqKMIRI8G_EQlPIHK5U8VklEftHrY_wi-HCjODlBh6gh3Xym_BDHgCwaXwIt6cwF_LnUFOGMiOEbEOfU4E93PW2vr1IVUed-7KHtPKjsos9Q8VZnZsJiu4j_5E_6yqbboPWQJNYFIbWSHhP-CuY8ISOMklJ1W7oFAtKdC4v7F-uGRW67AZmdcUMHJUY"
          />
        </div>
      </div>
    </div>
  </div>
</header>